body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #004d40;
}

header {
    background-color: #00695c;
    color: white;
    padding: 1em;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #004d40;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 80px; /* Adiciona espaço extra para evitar sobreposição com o footer */
}

section {
    background-color: white;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #00695c;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input, form button {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #00695c;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus, form button:focus {
    border-color: #004d40;
    box-shadow: 0 0 5px rgba(0, 77, 64, 0.5);
}

form button {
    background-color: #004d40;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #00332b;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #004d40;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table th, table td {
    border: 1px solid #004d40;
    padding: 0.5em;
    text-align: left;
}

table th {
    background-color: #004d40;
    color: white;
}
